<div class="container">
    <div class="matchup">
        <span>({{ vm.player1_seed }}) {{ vm.player1 }}</span>
        <span>vs</span>
        <span>({{ vm.player2_seed }}) {{ vm.player2 }}</span>
    </div>

    <div *ngIf="vm.bestOf >= 3" class="win-count-container">
        <div class="win-count-p1">
            <img *ngIf="vm.bestOf >= 5 && !p1ThirdWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p1ThirdWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="vm.bestOf >= 3 && !p1SecondWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p1SecondWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="!p1FirstWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p1FirstWin" src="../../assets/bo3;5-indicator.png">
        </div>
        <div class="match-type">
            <span *ngIf="vm.bestOf == 3">Best of 3</span>
            <span *ngIf="vm.bestOf == 5">Best of 5</span>
        </div>
        <div class="win-count-p2">
            <img *ngIf="!p2FirstWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p2FirstWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="vm.bestOf >= 3 && !p2SecondWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p2SecondWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="vm.bestOf >= 5 && !p2ThirdWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p2ThirdWin" src="../../assets/bo3;5-indicator.png">
        </div>
    </div>

    <div class="replays">

    </div>

    <div class="logo">
        <div>
            <img src="../assets/logo.png" width="300px"/>
        </div> 
    </div>
    <div class="title">All Skills Tournament 2018 - Grand Finals</div>
    <div class="next-match">Next match in:</div>
</div>
