@font-face{
    font-family: "Angie";
    src: url('../../assets/AngieRegular.otf') format("opentype")
}

.container {
    font-family: "Angie";
    font-size: 24px;
    color: white;
    width: 1920px;
	height: 1080px;
    background-size: 1920px 1080px;
    background-color: rgba(0,0,0,0.25)
}


div {
    font-size: 80px;
}

.matchup {
    padding: 50px;
}

.win-count-container {
	position: relative;
	text-align: center;
}

.win-count-p1, .win-count-p2 {
	display: inline-block;
    margin: 0 20px 0 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.match-type {
	display: inline-block;
	font-size: 48px;
	vertical-align: middle;
	margin-bottom: 30px;
}

.win-count-p2 > img {
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.matchup > span {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.replays {
    margin-top: 100px;
    width: 1270px;
    height: 355px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #FFFFFF;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.title {
    position: absolute;
    bottom: 150px;
    left: 500px;
    font-size: 70px;
}

.next-match {
    position: absolute;
    bottom: 75px;
    left: 500px;
    font-size: 48px;
}