<div class="container">
    <div>
        <img src="../assets/logo.png" width="300px" style="z-index:999">
        <div class="title">
            <span *ngIf="vm.tournament == 1">All Skills Tournament 2019</span>
            <span *ngIf="vm.tournament == 2">All Cells Tournament 2019</span>
        </div>
    </div>

    <table *ngIf="player1Stats && player2Stats">
        <thead>
            <tr>
                <td style="width: 500px;"></td>
                <td>{{ player1.name }}</td>
                <td>{{ player2.name }}</td>
            </tr>
        </thead>
            <tr class="seeds">
                <td></td>
                <td style="text-align: center;">Seed ({{ player1.seed }})</td>
                <td style="text-align: center;">Seed ({{ player2.seed }})</td>
            </tr>
            <tr class="stats">
                <td class="ui" style="text-align: right;  background-color:rgba(0,0,0,0.6); padding-right:25px">Current PB (Improvement)</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.4);">{{ player1Stats[1] }} {{ player1Stats[2] }} <span *ngIf="player1Stats[3]">({{ player1Stats[3] }})</span></td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);">{{ player2Stats[1] }} {{ player2Stats[2] }} <span *ngIf="player2Stats[3]">({{ player2Stats[3] }})</span></td>
            </tr>
            <tr class="method">
                <td class="ui" style="text-align: right;  background-color:rgba(0,0,0,0.6); padding-right:25px">Qualifier Time</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.4);">{{ player1Stats[4] }}</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);">{{ player2Stats[4] }}</td>
            </tr>
            <tr class="method">
                <td class="ui" style="text-align: right;  background-color:rgba(0,0,0,0.6); padding-right:25px">Input Method</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.4);">{{ player1Stats[5] }}</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);">{{ player2Stats[5] }}</td>
            </tr>
            <tr class="tricks">
                <td class="ui" style="text-align: right; background-color:rgba(0,0,0,0.6); padding-right:25px">Backup Saves for Clips</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.4);" *ngIf="player1Stats">{{ player1Stats[8] }}</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);" *ngIf="player2Stats">{{ player2Stats[8] }}</td>
            </tr>
            <tr class="tricks">
                <td class="ui" style="text-align: right; background-color:rgba(0,0,0,0.6); padding-right:25px">Will back up saves?</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.4);" *ngIf="player1Stats">{{ player1Stats[9] }}</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);" *ngIf="player2Stats">{{ player2Stats[9] }}</td>
            </tr>
            <tr class="misc">
                <td class="ui" style="text-align: right; background-color:rgba(0,0,0,0.6); padding-right:25px">Miscellaneous</td>
                <td style="text-align: center;  background-color:rgba(0,0,0,0.4);">
                    {{ player1Stats[6] }}<br><br>
                    {{ player1Stats[7] }}
                </td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);">
                    {{ player2Stats[6] }}<br><br>
                    {{ player2Stats[7] }}
                </td>
            </tr>
    </table>
</div>
