.container {
    font-family: "Angie";
    font-size: 80px;
    color: white;
    width: 1920px;
    height: 1080px;
}

div {
    font-size: 40px;
}

.title {
    position: absolute;
    top: 50px;
    left: 280px;
    width: 200px;
    text-align: center;
    word-wrap: normal;
}

.container > table {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

table {
	table-layout: fixed;
}

table > thead > tr > td {
    font-size: 64px;
    text-align: center;
}

table td {
	overflow: hidden;
	max-width: 500px;
}

table > tbody > tr > td:first-child {
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: bold;
	color: #fff36a;
}

.seeds > td {
    font-size: 32px;
    padding-left: 100px;
    padding-bottom: 125px;
    text-align: center;
}

.stats > td {
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.method > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.misc > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.healthCells > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.tricks > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
