<div class="container">
    <div>
        <img src="../assets/logo.png" width="300px" style="z-index:999">
        <div class="title">All Skills Tournament 2018</div>
    </div>

    <table *ngIf="player1 && player2">
        <thead>
            <tr>
                <td style="width: 500px;"></td>
                <td>{{ vm.player1_twitch }}</td>
                <td>{{ vm.player2_twitch }}</td>
            </tr>
        </thead>
        <tbody>
            <tr class="seeds">
                <td></td>
                <td><span *ngIf="vm.player1_seed">Seed ({{ vm.player1_seed }})</span></td>
                <td><span *ngIf="vm.player2_seed">Seed ({{ vm.player2_seed }})</span></td>
            </tr>
            <tr class="stats">
                <td style="text-align: right;  background-color:rgba(0,0,0,0.6); padding-right:25px">Current PB (Improvement)</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.4);">{{ player1[1] }} {{ player1[2] }} <span *ngIf="player1[3]">({{ player1[3] }})</span></td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);">{{ player2[1] }} {{ player2[2] }} <span *ngIf="player2[3]">({{ player2[3] }})</span></td>
            </tr>
            <tr class="method">
                <td style="text-align: right;  background-color:rgba(0,0,0,0.6); padding-right:25px">Input Method</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.4);">{{ player1[4] }}</td>
                <td style="text-align: center; background-color:rgba(0,0,0,0.6);">{{ player2[4] }}</td>
            </tr>
            <tr class="tricks">
                    <td style="text-align: right; background-color:rgba(0,0,0,0.6); padding-right:25px">Tricks</td>
                    <td style="text-align: center; background-color:rgba(0,0,0,0.4);">{{ player1[7] }}</td>
                    <td style="text-align: center; background-color:rgba(0,0,0,0.6);">{{ player2[7] }}</td>
                </tr>
            <tr class="healthCells notitle">
                <td rowspan="2">
                    <div style="position: relative; height: 400px;">
  
                            <canvas id="statChart" style="position: absolute" height="450px" width="475px"></canvas>
                        </div>
                    </td>
                    <td style="text-align: center; background-color:rgba(0,0,0,0.4);">{{ player1[5] }}</td>
                    <td style="text-align: center; background-color:rgba(0,0,0,0.6);">{{ player2[6] }}</td>
                </tr>
                <tr class="misc">
                        <td style="text-align: center;  background-color:rgba(0,0,0,0.4);">
                            {{ player1[5] }}<br><br>
                            {{ player1[6] }}
                        </td>
                        <td style="text-align: center; background-color:rgba(0,0,0,0.6);">
                            {{ player2[5] }}<br><br>
                            {{ player2[6] }}
                        </td>
                </tr>
        </tbody>
    </table>
</div>