<div class="controls">
    <div class="container">
		<div class="col-8 center label-big r1 c1">GENERAL INFO</div>
        <div class="label r2 c1">
            <label for="trackerId">Match ID</label><br>
            <label for="matchType">Match Type</label>
	        <label for="commentators">Commentators</label>
        </div>
		<div class="col-3 r2 c2">
			<input type="text" id="trackerId" [(ngModel)]="seed" [disabled]="isLinked"><br>
			<input type="text" id="matchType" [(ngModel)]="matchType">
			<input type="text" id="commentators" [(ngModel)]="commentators">
		</div>
		<input type="button" [ngClass]="{ 'active-background': isLinked == true, 'btn-update col-2 update r2 c5' : true }"  (click)="linkTracker()"  value="UPDATE LIVE FEED (every 1000ms)" [disabled]="isLinked" />
		<input type="button" class="btn col-2 r2 c7" (click)="unlink()" value="UNLINK" [disabled]="!isLinked" />
		<div class="backgrounds col-8 center r3 c1">
	        <div>
	            <img [ngClass]="{ 'active-background': vm.background == 'forlorn' }"
				(click)="setBackground('forlorn')" src="../../assets/background-forlorn.png" style="max-height:50px;">
				<br>
				<b>Forlorn</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
	        </div>
	        <div>
	            <img [ngClass]="{ 'active-background': vm.background == 'glades' }"
				(click)="setBackground('glades')" src="../../assets/background-glades.png" style="max-height:50px;">
				<br>
				<b>Glades</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'grotto' }"
				(click)="setBackground('grotto')" src="../../assets/background-grotto.png" style="max-height:50px;">
				<br>
				<b>Hideout</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
	        </div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'ginso' }"
				(click)="setBackground('ginso')" src="../../assets/background-ginso.png" style="max-height:50px;">
				<br>
				<b>Ginso</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'swamp' }"
				(click)="setBackground('swamp')" src="../../assets/background-swamp.png" style="max-height:50px;">
				<br>
				<b>Swamp</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'valley' }"
				(click)="setBackground('valley')" src="../../assets/background-valley.png" style="max-height:50px;">
				<br>
				<b>Valley</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'sorrow' }"
				(click)="setBackground('sorrow')" src="../../assets/background-sorrow.png" style="max-height:50px;">
				<br>
				<b>Sorrow</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'horu' }"
				(click)="setBackground('horu')" src="../../assets/background-horu.png" style="max-height:50px;">
				<br>
				<b>Horu</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'blackroot' }"
				(click)="setBackground('blackroot')" src="../../assets/background-blackroot.png" style="max-height:50px;">
				<br>
				<b>Blackroot</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'lostgrove' }"
				(click)="setBackground('lostgrove')" src="../../assets/background-lostgrove.png" style="max-height:50px;">
				<br>
				<b>Lost Grove</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'misty' }"
				(click)="setBackground('misty')" src="../../assets/background-misty.png" style="max-height:50px;">
				<br>
				<b>Misty</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'grove' }"
				(click)="setBackground('grove')" src="../../assets/background-grove.png" style="max-height:50px;">
				<br>
				<b>Hollow Grove</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'spidercoves' }"
				(click)="setBackground('spidercoves')" src="../../assets/background-spidercoves.png" style="max-height:50px;">
				<br>
				<b>Spider Coves</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'moongrotto' }"
				(click)="setBackground('moongrotto')" src="../../assets/background-moongrotto.png" style="max-height:50px;">
				<br>
				<b>Moon Grotto</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'spiritcaverns' }"
				(click)="setBackground('spiritcaverns')" src="../../assets/background-spiritcaverns.png" style="max-height:50px;">
				<br>
				<b>Spirit Caverns</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'swallowsnest' }"
				(click)="setBackground('swallowsnest')" src="../../assets/background-swallowsnest.png" style="max-height:50px;">
				<br>
				<b>Swallows Nest</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
			</div>
			<div>
	            <img [ngClass]="{ 'active-background': vm.background == 'kurosnest' }"
				(click)="setBackground('kurosnest')" src="../../assets/background-kurosnest.png" style="max-height:50px;">
				<br>
				<b>Kuros Nest</b> <br>
				<h6>
					TheRooseIsLoose89 <br>
					Vulajin <br>
					Chicken_Supreme <br>
					Terra21 <br>
					Hyrdra <br>
				</h6>
	        </div>
		</div>

		<hr class="spacer r4 c1" />

        <div class="col-8 center label-big timer r5 c1">MAIN TIMER</div>
		<input type="button" class="btn timer-start col-3 r6 c0" value="START" (click)="start()" [disabled]="!canStartTimer"/>
        <input type="button" class="btn timer-reset col-3 r6 c6" value="RESET" (click)="reset()" />

		<hr class="spacer r7 c1" />

        <div class="col-4 center label-big players r8 c1">PLAYER 1</div>
		<label class="label r9 c1" for="p1Name">Name</label>
        <input id="p1Name" class="name r9 c2" [(ngModel)]="p1_name" />
		<label class="label r10 c1" for="p1Twitch">Twitch</label>
		
		<select class="twitch r10 c2" [(ngModel)]="p1_twitch">
			<option *ngFor="let option of players" [value]="option.name" >{{ option.name }}</option>
		</select>

		<label class="label r11 c1" for="p1Seed">Seed</label>
		<input id="p1Seed" class="seed r11 c2" [(ngModel)]="p1_seed" />
        <input type="textbox" class="timer r9 c3 col-2" [(ngModel)]="ticks1" [disabled]="!timer1Paused" />
		<input type="button" class="btn btn-warning r10 c3 col-1" value="FINISH" (click)="player1Finished()" />
		<input type="button" class="btn col-1 r10 c4" value="PAUSE/SET TIMER" (click)="player1Paused()" />
		

        <div class="col-4 center label-big players r8 c5">PLAYER 2</div>
        <label class="label r9 c5" for="p2Name">Name</label>
		<input id="p2Name" class="name r9 c6" [(ngModel)]="p2_name" />
		<label class="label r10 c5" for="p2Twitch">Twitch</label>
		
		<select class="twitch r10 c6" [(ngModel)]="p2_twitch">
			<option *ngFor="let option of players" [value]="option.name" >{{ option.name }}</option>
		</select>

		<label class="label r11 c5" for="p2Seed">Seed</label>
		<input id="p2Seed" class="seed r11 c6" [(ngModel)]="p2_seed" />
		<input type="textbox" class="timer r9 c7 col-2" [(ngModel)]="ticks2" [disabled]="!timer2Paused"/>
		<input type="button" class="btn btn-warning r10 c7 col-1" value="FINISH" (click)="player2Finished()" />
		<input type="button" class="btn col-1 r10 c8" value="PAUSE / SET TIMER" (click)="player2Paused()" />
    </div>
</div>
