<div class="container">
    <!-- <div class="matchType">
        {{ vm.matchType }}
    </div>
    <div class="matchup" *ngIf="vm.tournament == 1">
        <div>
            <span *ngIf="vm.player1_seed">({{ vm.player1_seed }})</span> {{ opponent1 }}
        </div>
        <div>vs</div>
        <div>
            <span *ngIf="vm.player2_seed">({{ vm.player2_seed }})</span> {{ opponent2 }}
        </div>
    </div>
    <div class="matchup-doubles" *ngIf="vm.tournament == 2">
        <div>
            <span *ngIf="opponent1Seed">({{ opponent1Seed }})</span> {{ opponent1 }}
            <span *ngIf="players1"><br />{{ players1 }}</span>
        </div>
        <div>vs</div>
        <div>
            <span *ngIf="opponent2Seed">({{ opponent2Seed }})</span> {{ opponent2 }}
            <span *ngIf="players2"><br />{{ players2 }}</span>
        </div>
    </div> -->
    <div class="stream">

    </div>

    <div class="matchups"> 
        <div><b>Singles</b></div>
        <div *ngFor="let v of singlesMatchups">
            <span *ngIf="v.p1">
                {{ v.p1 }} vs {{ v.p2 }}
            </span>
        </div>
        <!-- <div>TheRooseIsLoose vs TheFlyingMarlin</div>
        <div>Vulajin vs Brynhold</div>
        <div>Eiko vs Raziel</div>
        <div>Skulblaka vs Sigmasin</div>
        <div>Cleanfel vs JHobz</div>
        <div>roryrai vs CovertMuffin</div>
        <div>oshiimine vs shedd</div>
        <div>Grimelios vs Terra</div>
        <div>Synyadriel vs TASSnoop</div>
        <div>nfnite vs MeatShield</div>
        <div>Osey vs trojandude12</div>
        <div>Cutieroo vs Hydra</div>
        <div>Willson vs sloaters</div>
        <div>Meldon vs Dedew</div>
        <div>ogndrahcir vs rainbowpoogle</div>
        <div>UncleRonny vs Lusther</div> -->

        <div style="position: absolute; right: 5px; top: 500px; width: 360px;">
            <b>Doubles</b>
            <div *ngFor="let v of doublesMatchups">
                <span *ngIf="v.p1">
                    {{ v.p1 }} vs {{ v.p2 }}
                </span>
            </div>
        </div>
    </div>
    <div>
        <div class="logo">
            <div>
                <img src="../assets/logo.png" width="225px"/>
            </div>
        </div>
        <div class="title">Randomizer Tournament 2018</div>
        <div class="sub-title">Swiss Round 1 Reveal                 
            <img src="../../assets/commentary.png" />
            {{ vm.commentators }}</div>
    </div>
</div>
