@font-face{
    font-family: "Gara";
    src: url('../../assets/belleza-regular.ttf') format("truetype")
}

.container {
    font-family: "Gara";
    color: white;
    width: 1920px;
	height: 1080px;
    background: url('../../assets/background-gumonseal.png');
    padding: 5px 5px 5px 5px;
}

div {
    font-size: 80px;
}

.matchups {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 367px;
    height: 100%;
}

.matchups > div {
    font-size: 24px;
    text-align: center;
}

.matchups > div > div > span > div {
    font-size: 20px;
}

.seperator {
    content: "";
    height: 1px;
    width: 350px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 10%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 90%);

    display: block;
    margin-bottom: 3px;
    margin-top: 3px;

    float: left;
}

.logo {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.title {
    position: absolute;
    bottom: 100px;
    left: 275px;
}

.sub-title {
    position: absolute;
    bottom: 40px;
    left: 275px;
    font-size: 32px;
}

.sub-title > img {
    margin-left: 75px;
}

.stream {
    background: black;
    width: 80%;
    height: 80%;
}

.doubles {
    width: 100%; 
    height: 30%;
}

.singles {
    width: 100%; 
    height: 70%;
}