<div class="container">
    <!-- <div class="matchType">
        {{ vm.matchType }}
    </div>
    <div class="matchup" *ngIf="vm.tournament == 1">
        <div>
            <span *ngIf="vm.player1_seed">({{ vm.player1_seed }})</span> {{ opponent1 }}
        </div>
        <div>vs</div>
        <div>
            <span *ngIf="vm.player2_seed">({{ vm.player2_seed }})</span> {{ opponent2 }}
        </div>
    </div>
    <div class="matchup-doubles" *ngIf="vm.tournament == 2">
        <div>
            <span *ngIf="opponent1Seed">({{ opponent1Seed }})</span> {{ opponent1 }}
            <span *ngIf="players1"><br />{{ players1 }}</span>
        </div>
        <div>vs</div>
        <div>
            <span *ngIf="opponent2Seed">({{ opponent2Seed }})</span> {{ opponent2 }}
            <span *ngIf="players2"><br />{{ players2 }}</span>
        </div>
    </div> -->
    <div class="stream">

    </div>

    <div class="matchups"> 
        <div class="singles">
            <b>Singles</b>
            <div *ngFor="let v of singlesMatchups">
                <div class="seperator"></div>
                <span *ngIf="v.p1">
                    <div [ngClass]="{ 'fade': v.p1 != null }" style="float: left; text-align: right; width: 164px;">{{ v.p1 }}</div> 
                    <div [ngClass]="{ 'fade': v.p1 != null }" style="float: left; width: 39px;">vs</div> 
                    <div [ngClass]="{ 'fade': v.p2 != null }" style="float: left; text-align: left; width: 164px;">{{ v.p2 }}</div>
                </span>
            </div>
        </div>

        <div class="doubles">
            <b>Doubles</b>
            <div *ngFor="let v of doublesMatchups">
                <div class="seperator"></div>
                <span *ngIf="v.p1">
                    <div [ngClass]="{ 'fade': v.p1 != null }" style="float: left; text-align: right; width: 164px;">{{ v.p1 }}</div> 
                    <div [ngClass]="{ 'fade': v.p1 != null }" style="float: left; width: 39px;">vs</div> 
                    <div [ngClass]="{ 'fade': v.p2 != null }" style="float: left; text-align: left; width: 164px;">{{ v.p2 }}</div>
                </span>
            </div>
        </div>
    </div>
    <div>
        <div class="logo">
            <div>
                <img src="../assets/logo.png" width="225px"/>
            </div>
        </div>
        <div class="title">Randomizer Tournament 2018</div>
        <div class="sub-title">Swiss Round 1 Reveal                 
            <img src="../../assets/commentary.png" />
            {{ vm.commentators }}</div>
    </div>
</div>
