.container {
    font-family: "Angie";
    font-size: 80px;
    color: white;
    width: 1920px;
    height: 1080px;
    background-color:	rgba(0,0,0,0.5);
}

.groupTitle {
    position: absolute;
    top: 75px;
    left: 100px;
    align-content: center;
}

.table {
    margin: 0 auto;
}

.table > thead > th {
    padding-left: 50px;
    padding-right: 50px;
}

.table > tbody > tr > td {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    padding-top: 25px;
    font-size: 62px;
}

.table > tbody > tr {
    background-color: rgba(255,255,255,0.1);
}

.footer {
    font-size: 40px;
    position: absolute;
    bottom: 50px;
    left: 75px;
}