<div class="container" [ngStyle]="{'background-image': 'url(../../assets/background-' + vm.background + '.png)'}">
    <div class="topbar">
    	<div class="name-cycle p1">
        	<div class="name-twitch text">
            	<img src="../../assets/twitch-icon.png" />
            	{{ vm.player1_twitch }}
        	</div>
        	<div class="name-signup text">
            	{{ vm.player1 }} <span *ngIf="vm.player1_seed">({{ vm.player1_seed }})</span>
        	</div>
    	</div>
    	<div class="timers">
	        <div class="timer-finish p1 text">
	            {{ vm.player1_finishTime }}
	        </div>
            <span *ngIf="!vm.player1_timerVisible" class="text timer-main"></span>
	        <div class="timer-finish p2 text">
	            {{ vm.player2_finishTime }}
	        </div>
    	</div>
	    <div class="name-cycle p2">
	        <div class="name-twitch text">
	            <img src="../../assets/twitch-icon.png" />
	            {{ vm.player2_twitch }}
	        </div>
	        <div class="name-signup text">
                {{ vm.player2 }} <span *ngIf="vm.player2_seed">({{ vm.player2_seed }})</span>
	        </div>
	    </div>
	</div>

    <div class="stream-placeholder">
    </div>
    <div class="stream-placeholder">
    </div>

    <div class="stats-container">
        <!-- <div class="wrapper"> -->
            <div class="stat-flyin p1 ui">
                {{ p1StatsText }}
            </div>
        <!-- </div> -->
        <!-- <div class="wrapper"> -->
            <div class="stat-flyin p2 ui">
                {{ p2StatsText }}
            </div>
        <!-- </div> -->
    </div>

    <div *ngIf="vm.bestOf >= 3" class="win-count-container">
        <div class="win-count-p1">
            <img *ngIf="vm.bestOf >= 5 && !p1ThirdWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p1ThirdWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="vm.bestOf >= 3 && !p1SecondWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p1SecondWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="!p1FirstWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p1FirstWin" src="../../assets/bo3;5-indicator.png">
        </div>
        <div class="match-type">
            <span *ngIf="vm.bestOf == 3">Best of 3</span>
            <span *ngIf="vm.bestOf == 5">Best of 5</span>
        </div>
        <div class="win-count-p2">
            <img *ngIf="!p2FirstWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p2FirstWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="vm.bestOf >= 3 && !p2SecondWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p2SecondWin" src="../../assets/bo3;5-indicator.png">

            <img *ngIf="vm.bestOf >= 5 && !p2ThirdWin" src="../../assets/bo3;5-indicatorRing.png">
            <img *ngIf="p2ThirdWin" src="../../assets/bo3;5-indicator.png">
        </div>
    </div>

    <div class="matchinfo">
        <div class="tracker p1">
        </div>
        <div class="info">
            <div>{{ vm.matchType }}</div>
			<div class="commentators">
                <img src="../../assets/commentary.png" />
                <div>{{ vm.commentators }}</div>
            </div>
        </div>
        <div class="tracker p2">
        </div>
    </div>
 </div>
