@font-face{
    font-family: "Angie";
    src: url('../../assets/AngieRegular.otf') format("opentype")
}

.container {
    font-family: "Angie";
    font-size: 24px;
    color: white;
    width: 1920px;
	height: 1080px;
	background-size: 1920px 1080px;
}

.center{
    text-align: center;
}

.main-content {
    background-repeat: no-repeat;
}

.topbar {
	display: flex;
	justify-content: space-between;
    font-size: 36px;
	line-height: 75px;
    height: 75px;
}

.name-cycle {
	flex-grow: 1;
	position: relative;
}

.name-cycle > div {
	position: absolute;
	margin-left: 15px;
}

.name-cycle.p2 > div {
	right: 0;
	margin-left: 0;
	margin-right: 15px;
}

.name-twitch {
    animation-name: start-fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-direction: alternate;
}

.name-twitch > img {
    width: 22px;
    height: 24px;
}

.name-signup {
	animation-name: fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
	animation-duration: 30s;
    animation-direction: alternate;
}

.timers {
	font-size: 56px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.timers > div {
	display: inline-block;
}

.timer-main {
	line-height: 75px;
}

.timer-main.paused {
	color: #aaa;
}

.timer-finish {
	background: linear-gradient(
		135deg,
		#1c7b9f 0%,
		#1c7b9f 45%,
		rgba(255,255,255,1) 50%,
		#58a2bc 55%,
		#58a2bc 100%
	);
	background-size: 600% 600%;
	border: 2px solid white;
	border-radius: 5px 5px 0 0;
	margin-left: 20px;
	padding: 0 10px 0;
	margin-bottom: -44px; /* Have to define margin-bottom explicitly for transition to work */

    font-size: 26px;
	height: 40px;
	line-height: 40px;
	align-self: flex-end;
}

.timer-finish.p1 {
	text-align: right;
	margin-left: 0;
	margin-right: 20px;
}

.timer-animate {
	animation: sheen 2s ease;
	transition: margin-bottom 600ms cubic-bezier(1, 0, 0, 1);
	margin-bottom: -2px;
}

.winner {
	background: linear-gradient(
		135deg,
		rgba(204,205,21,1) 0%,
		rgba(204,205,21,1) 45%,
		rgba(255,255,255,1) 50%,
		rgba(204,205,21,1) 55%,
		rgba(204,205,21,1) 100%
	);
	background-size: 600% 600%;
	animation-iteration-count: infinite;
}

.stream1-placeholder {
    float: left;
    width: 950px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 534.375px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 0 5px 0;
	position: relative;
}

.stream2-placeholder {
    float: left;
    width: 950px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 534.375px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 0 5px 0;
	position: relative;
}

.audio {
    margin-top:15px;
}

.matchinfo {
    position: absolute;
	bottom: 0;
	height: 470.625px; /* stream_height - (racefeed_height + topbar_height) = 1080 - (534.375 + 75) = 470.625 */
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.tracker {
	position: relative;
	margin: 0 120px 40.3125px; /* horiz margin is manual, vert is (matchinfo_height - tracker_height)/2 = 40.3125px */
	width: 390px;
	height: 390px;
}

.tracker > img {
	position: absolute;
    height: 390px;
	transform-origin: var(--x, center) var(--y, center);
	transform: scale(0.1);
	visibility: hidden;
}

.tracker > img.always-on {
	transform: scale(1.0);
	visibility: visible;
}

.tracker > img.on {
	transform: scale(1.0);
	transition: transform 500ms cubic-bezier(0.595, 1.800, 0.145, 0.910);
	visibility: visible;
}

.tracker > img.on.shine {
	background: linear-gradient(
		135deg,
		transparent 0%,
		transparent 45%,
		rgba(255,255,255,1) 50%,
		transparent 55%,
		transparent 100%
	);
	background-size: 600% 600%;
	clip-path: circle(var(--r, 36.829px) at var(--x, center) var(--y, center));
	animation: sheen 2s ease;
	/* background: rgba(255,255,255,0); */
	/* animation: light-burst 500ms ease alternate 2; */
}

.text {
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.info {
	flex-grow: 1;
	margin-bottom: 45px;
	min-width: 400px;
	max-width: 660px;
	text-align: center;
	font-size: 28px;
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.mapstone-p1 {
    position: absolute;
    margin-top:20px;
    top:175px;
    left:130px;
    font-size: 18px;
}

.mapstone-p2 {
    position: absolute;
    margin-top:20px;
    top:175px;
    left:265px;
    font-size: 18px;
}

@keyframes start-fade {
	0% { opacity: 0; }
	25% { opacity: 0; }
    45% { opacity: 0 }
    50% { opacity: 1}
	100% { opacity: 1; }
}

@keyframes fade {
	0% { opacity: 1; }
	25% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes sheen {
	0% { background-position: 100% 100%; }
	100% { background-position: 0% 0%; }
}

/* @keyframes light-burst {
	0% { box-shadow: inset 0 0 0 1000px rgba(255,255,255,0); }
	100% { box-shadow: inset 0 0 0 1000px rgba(255,255,255,1); }
} */
