.container {
    font-family: "Segoe UI";
	font-weight: 350;
    color: white;
    width: 1920px;
	height: 1080px;
	background-size: 1920px 1080px;
}

.center{
    text-align: center;
}

.main-content {
	background-repeat: no-repeat;
}

.topbar {
	display: flex;
	justify-content: space-between;
	line-height: 75px;
	font-size: 38px;
    height: 75px;
}

.name-cycle {
	flex-grow: 1;
	position: relative;
}

.name-cycle > div {
	position: absolute;
	margin-left: 15px;
}

.name-cycle.p2 > div {
	right: 0;
	margin-left: 0;
	margin-right: 15px;
}

.name-twitch {
    animation-name: start-fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-direction: alternate;
}

.name-twitch > img {
    width: 22px;
    height: 24px;
}

.name-signup {
	animation-name: fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
	animation-duration: 30s;
    animation-direction: alternate;
}

.timers {
	font-size: 56px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.timers > div {
	display: inline-block;
}

.timer-main {
	line-height: 75px;
}

.timer-main.paused {
	color: #aaa;
}

.timer-finish {
	background: linear-gradient(
		135deg,
		#1c7b9f 0%,
		#1c7b9f 45%,
		rgba(255,255,255,1) 50%,
		#58a2bc 55%,
		#58a2bc 100%
	);
	background-size: 600% 600%;
	border: 2px solid white;
	border-radius: 5px 5px 0 0;
	margin-left: 20px;
	padding: 0 10px 0;
	margin-bottom: -44px; /* Have to define margin-bottom explicitly for transition to work */

    font-size: 26px;
	height: 40px;
	line-height: 40px;
	align-self: flex-end;
}

.timer-finish.p1 {
	text-align: right;
	margin-left: 0;
	margin-right: 20px;
}

.timer-animate {
	animation: sheen 2s ease;
	transition: margin-bottom 600ms cubic-bezier(1, 0, 0, 1);
	margin-bottom: -2px;
}

.winner {
    float: left;
    width: 946px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 530.375px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
	margin: 0 5px;
	border-color: rgba(244, 244, 244, 0.60);
    border-style: solid;
	border-width: 2px;
}

.stream-placeholder {
    float: left;
    width: 946px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 530.375px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
	margin: 0 5px;
	border-color: rgba(244, 244, 244, 0.60);
    border-style: solid;
	border-width: 2px;
}

.stats-container {
	margin: 0 7px 0 3px;
	display: grid;
	grid-template-columns: 950px 950px;
	grid-column-gap: 10px;
	clear: both;
	height: 54px;
	overflow: hidden;
	justify-content: center;
}

.matchup-results {
    margin-top: 150px;
    width: 300px;
    margin-left: 800px;
}

.matchup-results > div {
    font-size: 40px;
    margin-top: 20px;
}

.match-title {
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
	margin-bottom: 40px;
	text-align: center;
	margin-left: 35px;
}

.icon {
    vertical-align: bottom;
}

.matchup {
    position: absolute;
	top: 270px;
	left: 45px;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 300px;
}

.matchup-results {
    margin-top: 150px;
    font-size: 40px;
    width: 300px;
    margin-left: 800px;
}

.matchup-results > div {
    margin-top: 20px;
}

.winner-match {
	color: #ffb600;
}

.played {
    color: lightgray;
}

/* .stats-container > .wrapper {
	width: 950px;
	height: 50px;
	text-align: center;
	position: relative;
} */

.stats-container .stat-flyin {
	justify-self: center;
	padding: 0 15px;
	height: 50px;
	line-height: 50px;
	margin-top: -58px;
	font-size: 24px;
	transition: margin-top 600ms cubic-bezier(1, 0, 0, 1);
	/* text-shadow: none; */
	color: white;
	background: linear-gradient(
		135deg,
		#1c699f 0%,
		#1c7b9f 100%
	);
	/* color: #1976d2; */
	border: 4px solid white;
	z-index: 2;
}

.stats-container .stat-flyin.show {
	margin-top: -4px;
}

.audio {
    margin-top:15px;
}

.matchinfo {
    position: absolute;
	bottom: 0;
	height: 470.625px; /* stream_height - (racefeed_height + topbar_height) = 1080 - (534.375 + 75) = 470.625 */
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.commentators {
	margin-top: 10px;
	font-size: 32px;
}

.commentators > div {
	display: inline-block;
}

.commentators > img {
	margin-bottom: 10px;
	vertical-align: middle;
}

.tracker  {
	position: relative;
	margin: 0 120px 40.3125px; /* horiz margin is manual, vert is (matchinfo_height - tracker_height)/2 = 40.3125px */
	width: 390px;
	height: 390px;
}

.tracker > div > img {
	position: absolute;
    height: 390px;
	transform-origin: var(--x, center) var(--y, center);
	transform: scale(0.1);
	visibility: hidden;
}

.tracker  > div > img.always-on {
	transform: scale(1.0);
	visibility: visible;
}

.tracker  > div > img.on {
	transform: scale(1.0);
	transition: transform 500ms cubic-bezier(0.595, 1.800, 0.145, 0.910);
	visibility: visible;
}

.tracker > div > img.on.shine {
	background: linear-gradient(
		135deg,
		transparent 0%,
		transparent 45%,
		rgba(255,255,255,1) 50%,
		transparent 55%,
		transparent 100%
	);
	background-size: 600% 600%;
	clip-path: circle(var(--r, 36.829px) at var(--x, center) var(--y, center));
	animation: sheen 2s ease;
	/* background: rgba(255,255,255,0); */
	/* animation: light-burst 500ms ease alternate 2; */
}


.ui {
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: bold;
	color: #fff36a;
}

.info {
	flex-grow: 1;
	margin-bottom: 30px;
	min-width: 400px;
	max-width: 660px;
	text-align: center;
	font-size: 36px;
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.mapstone-p1 {
    position: absolute;
    margin-top:20px;
    top:175px;
    left:130px;
    font-size: 18px;
}

.mapstone-p2 {
    position: absolute;
    margin-top:20px;
    top:175px;
    left:265px;
    font-size: 18px;
}

.win-count-container {
	position: absolute;
	text-align: center;
	top: 0;
	left: 710px;
}

.win-count-p1, .win-count-p2 {
	display: inline-block;
	margin: 0 20px 0 20px;
}

.match-type {
	display: inline-block;
	font-size: 28px;
	vertical-align: middle;
	margin-bottom: 60px;
}

.win-count-p2 > img {
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.title-info {
	position: absolute;
	text-align: center;
	left: 657px;
	top: 700px;
}

.title {
	float: left;
	width: 350px;
	font-size: 54px;
	text-align: center;
}

.logo {
	float: left;
	height: 225px;
}

@keyframes start-fade {
	0% { opacity: 0; }
	25% { opacity: 0; }
    45% { opacity: 0 }
    50% { opacity: 1}
	100% { opacity: 1; }
}

@keyframes fade {
	0% { opacity: 1; }
	25% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes sheen {
	0% { background-position: 100% 100%; }
	100% { background-position: 0% 0%; }
}

/* @keyframes light-burst {
	0% { box-shadow: inset 0 0 0 1000px rgba(255,255,255,0); }
	100% { box-shadow: inset 0 0 0 1000px rgba(255,255,255,1); }
} */
