<div class="container">
    <div class="matchType">
        {{ vm.matchType }}
    </div>
    <div class="matchup" *ngIf="vm.bestOf > 0">
        <span class="matchup-players">
            <div style="text-align: right; width: 47%" [ngClass]="{ 'winner': vm.soloWinner == 1 }">
                <span *ngIf="player1.seed">({{ player1.seed }})</span> {{ player1.name }}
                <span *ngIf="vm.soloWinner == 1">(Winner)</span>
            </div>
            <div class="vs">vs</div>
            <div style="text-align: left; width: 48%" [ngClass]="{ 'winner': vm.soloWinner == 2 }">
                {{ player2.name }}
                <span *ngIf="player2.seed">({{ player2.seed }})</span> 
                <span *ngIf="vm.soloWinner == 2">(Winner)</span>
            </div>
        </span>

        <div class="matchup-results" *ngIf="vm.bestOf == 3">
            <span class="match-title">Best of 3</span>
            <div *ngFor="let m of vm.currentSeries; let i = index">
                <span *ngIf="m.winner === 1"><img class="icon" src="../../assets/win-icon-splash.png" /></span>
                <span *ngIf="m.winner === 2 || m.winner === 0"><img class="icon" src="../../assets/lose-icon.png" /></span>
                <span [ngClass]="{ 'winner': (((p1WinCount) + (p2WinCount)) === i) && (p1WinCount !== 2 && p2WinCount !== 2), 
                                    'played': (((p1WinCount) + (p2WinCount)) > i), 
                                    'not-playing': (((p1WinCount === 2 && p2WinCount === 0) || (p2WinCount === 2 && p1WinCount === 0)) && i === 2) }">
                                    Game {{ i + 1 }}</span>
                <span *ngIf="m.winner === 1 || m.winner === 0"><img class="icon" src="../../assets/lose-icon.png" /></span>
                <span *ngIf="m.winner === 2"><img class="icon" src="../../assets/win-icon-splash.png" /></span>
            </div>
        </div>
    </div>

    <div class="matchup" *ngIf="vm.bestOf == 0">
        <span>
            <div style="text-align: center;">
                {{ player1.name }}, 
                {{ player2.name }},
                {{ player3.name }},
                {{ player4.name }}
            </div>
        </span>
    </div>
    <div>
        <div class="logo">
            <div>
                <video width="500px" src="../../assets/75scale40opacity.webm" loop autoplay style="background:transparent"></video>
            </div>
        </div>
        <div class="title">
            <span *ngIf="vm.tournament == 1">All Skills Tournament 2019</span>
            <span *ngIf="vm.tournament == 2">All Cells Tournament 2019</span>
        </div>
    </div>
</div>
