<div class="container">
    <div class="matchType" *ngIf="vm.tournament == 1 || vm.tournament == 2">
        {{ vm.matchType }}
    </div>
    <div class="matchType" *ngIf="vm.tournament == 3">
        Swiss Reveal
    </div>
    <div class="matchup" *ngIf="vm.tournament == 1">
        <div>
            <span *ngIf="vm.player1_seed">({{ vm.player1_seed }})</span> {{ opponent1 }}
        </div>
        <div>vs</div>
        <div>
            <span *ngIf="vm.player2_seed">({{ vm.player2_seed }})</span> {{ opponent2 }}
        </div>
    </div>
    <div class="matchup-doubles" *ngIf="vm.tournament == 2">
        <div>
            <span *ngIf="opponent1Seed">({{ opponent1Seed }})</span> {{ opponent1 }}
            <span *ngIf="players1"><br />{{ players1 }}</span>
        </div>
        <div>vs</div>
        <div>
            <span *ngIf="opponent2Seed">({{ opponent2Seed }})</span> {{ opponent2 }}
            <span *ngIf="players2"><br />{{ players2 }}</span>
        </div>
    </div>

    <div class="matchup" *ngIf="vm.tournament == 3">
        <div>
            Round 1 Pairings
        </div>
    </div>
    <div>
        <div class="logo">
            <div>
                <video width="500px" src="../../assets/75scale40opacity.webm" loop autoplay style="background:transparent"></video>
                <!-- <img src="../assets/logo.png" width="300px"/> -->
            </div>
        </div>
        <div class="title">Randomizer Tournament 2018</div>
    </div>
</div>
