.winner {
    color: #ffb600;
}

.matchup {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    height: 300px;
    font-size: 80px;
}

.matchup-doubles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 450px;
}

.matchup-results {
    margin-top: 130px;
    font-size: 34px;
    width: 300px;
    margin-left: 800px;
}

.matchup-results > div {
    font-size: 32px;
    margin-top: 20px;
}

.match-title {
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 40px;
}

.vs {
    width: 5%;
    font-size: 42px;
    padding-top: 35px;
}

.matchup-players {
    width: 100%;
}

.matchup-players > div {
    float: left;
}

.current-match {
    color: #ffb600;
}

.played {
    color: lightgray;
}

.not-playing {
    text-decoration: line-through; 
    color: grey;
}

.matchType {
    position: absolute;
    top: 75px;
    left: 100px;
    font-size: 100px;
    word-wrap: break-word;
}

.matchup, .matchup-doubles {
    text-align: center;
}

.icon {
    vertical-align: bottom;
}

.logo {
    position: absolute;
    bottom: -75px;
    left: 50px;
}

.title {
    position: absolute;
    bottom: 100px;
    left: 500px;
    font-size: 80px;
}

.players {
    font-size: 54px;
}

.bo5-splash {
    font-size: 10px;
}