@font-face{
    font-family: "Gara";
    src: url('../../assets/belleza-regular.ttf') format("truetype")
}

.container {
    font-family: "Gara";
    font-size: 24px;
    color: white;
    width: 1920px;
	height: 1080px;
    background-size: 1920px 1080px;
    background-color: rgba(0,0,0,0.15)
}

div {
    font-size: 80px;
}

.matchup {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 300px;
}

.matchup-doubles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 450px;
}

.matchType {
    position: absolute;
    top: 75px;
    left: 100px;
    font-size: 100px;
    word-wrap: break-word;
}

.matchup, .matchup-doubles > div {
    text-align: center;
}

.logo {
    position: absolute;
    bottom: -75px;
    left: 50px;
}

.title {
    position: absolute;
    bottom: 100px;
    left: 500px;
}

video {
    background: transparent;
}