@font-face{
    font-family: "Gara";
    src: url('../../assets/belleza-regular.ttf') format("truetype")
}

.container {
    font-family: "Gara";
    font-size: 32px;
    color: white;
    width: 1920px;
	height: 1080px;
    background-size: 1920px 1080px;
}

.team1 {
    float: left;
    text-align: center;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 372px;
    color:  rgb(252, 176, 77);
    box-sizing: border-box;
    border-color: rgba(252, 176, 77, 0.5);
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.team2 {
    float: left;
    margin-top: 386px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 372px;
    color: rgb(149, 229, 253);
    box-sizing: border-box;
    border-color: rgba(149, 229, 253, 0.5);
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.stream-placeholder-top-left {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 3px 0px 0px 3px;
    box-sizing: border-box;
    border-color: rgba(252, 176, 77, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.stream-placeholder-top-right {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 3px 3px 0px 0px;
    box-sizing: border-box;
    border-color: rgba(252, 176, 77, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.stream-placeholder-bottom-left {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 0px 0px 3px 3px;
    box-sizing: border-box;
    border-color: rgba(149, 229, 253, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.stream-placeholder-bottom-right {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 0px 3px 3px 0px;
    box-sizing: border-box;
    border-color: rgba(149, 229, 253, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.middle-team1 {
    float: left;
    width: 100%;
    height: 95px;
}

.middle-team2 {
    float: left;
    width: 100%;
    height: 105px;
}

.player1 {
    float: left;
    width: 766px;
    padding: 20px 0px 0px 10px;
    color:  rgb(252, 176, 77);
}

.player2 {
    float: left;
    width: 766px;
    padding: 20px 10px 0px 0px;
    text-align: right;
    color:  rgb(252, 176, 77);
}

.matchType {
    float: left;
    width: 368px;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    margin: auto;
}

.commentators {
    float: left;
    width: 388px;
    text-align: center;
}

.commentators > div {
	display: inline-block;
}

.commentators > img {
	margin-bottom: 10px;
	vertical-align: middle;
}

.player3 {
    float: left;
    width: 756px;
    padding: 45px 0px 0px 10px;
    vertical-align: text-bottom;
    color: rgb(149, 229, 253);
}

.player4 { 
    float: left;
    text-align: right;
    width: 756px;
    padding: 45px 10px 0px 0px;
    color: rgb(149, 229, 253);
}