.container {
    font-family: "Segoe UI";
	font-weight: 350;
    color: white;
    width: 1920px;
	height: 1080px;
    background-size: 1920px 1080px;
}

.team1 {
    float: left;
    overflow: hidden;
    text-align: center;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 372px;
    position: relative;
}

.team2 {
    float: left;
    overflow: hidden;
    margin-top: 386px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 372px;
    position: relative;
}

.team1-score {
    position: absolute;
    top: 55px;
    left: 917px;
}

.team1-score, .team2-score > span > img {
    height: 40px;
}

.team2-score {
    position: absolute;
    bottom: 50px;
    left: 917px;
}

.team1-score > span > img {
    height: 40px;
}

.finishTimeWinner {
    color: rgba(0,0,0,0.8);
    font-family: 'Segoe UI';
    font-weight: bold;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: -372px;
    height: 75px;
    width: 372px;
    background:  rgb(255, 217, 0);
    transition: 1s;
}

.finishTimeDraw {
    color: rgba(0,0,0,0.8);
    font-family: 'Segoe UI';
    font-weight: bold;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: -372px;
    height: 75px;
    width: 372px;
    background: rgb(142, 142, 142);
    transition: 1s;
}

.finishTimeLoser {
    color: rgba(0,0,0,0.8);
    font-family: 'Segoe UI';
    font-weight: bold;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: -372px;
    height: 75px;
    width: 372px;
    background: rgb(52, 91, 187);
    transition: 1s;
}

.team-winner {
    transition: 1s;
    left: 0;
}

.stream-placeholder-top-left {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 3px 0px 0px 3px;
    box-sizing: border-box;
	border-color: rgba(244, 244, 244, 0.60);
    border-style: solid;
	border-width: 2px;
    border-radius: 4px;
}

.stream-placeholder-top-right {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 3px 3px 0px 0px;
    box-sizing: border-box;
	border-color: rgba(244, 244, 244, 0.60);
    border-style: solid;
	border-width: 2px;
    border-radius: 4px;
}

.stream-placeholder-bottom-left {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 0px 0px 3px 3px;
    box-sizing: border-box;
	border-color: rgba(244, 244, 244, 0.60);
    border-style: solid;
	border-width: 2px;
    border-radius: 4px;
}

.stream-placeholder-bottom-right {
    float: left;
    width: 771px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 437px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 0px 3px 3px 0px;
    box-sizing: border-box;
	border-color: rgba(244, 244, 244, 0.60);
    border-style: solid;
	border-width: 2px;
    border-radius: 4px;
}

.middle-team1 {
    float: left;
    width: 100%;
    height: 95px;
}

.middle-team2 {
    float: left;
    width: 100%;
    height: 105px;
}

.player1 {
    float: left;
    width: 766px;
    padding: 20px 0px 0px 10px;
    color:  rgb(252, 176, 77);
    font-size: 28px;
}

.player2 {
    float: left;
    width: 766px;
    padding: 20px 10px 0px 0px;
    text-align: right;
    color:  rgb(252, 176, 77);
    font-size: 28px;
}

.matchType {
    float: left;
    width: 368px;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    margin: auto;
}

.commentators {
    float: left;
    width: 388px;
    text-align: center;
}

.commentators > div {
	display: inline-block;
}

.commentators > img {
	margin-bottom: 10px;
	vertical-align: middle;
}

.player3 {
    float: left;
    width: 756px;
    padding: 45px 0px 0px 10px;
    vertical-align: text-bottom;
    color: rgb(149, 229, 253);
    font-size: 28px;
}

.player4 { 
    float: left;
    text-align: right;
    width: 756px;
    padding: 45px 10px 0px 0px;
    color: rgb(149, 229, 253);
    font-size: 28px;
}

.name-twitch {
    animation-name: start-fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-direction: alternate;
}

.name-twitch > img {
    width: 22px;
    height: 24px;
}

.name-signup {
	animation-name: fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
	animation-duration: 30s;
    animation-direction: alternate;
}

.name-cycle {
	flex-grow: 1;
	position: relative;
}

.name-cycle > div {
	position: absolute;
	margin-left: 0px;
}

.name-cycle.player2 > div, 
.name-cycle.player4 > div {
	right: 0;
	margin-left: 0;
	margin-right: 15px;
}

.winner {
    box-sizing: border-box;
    border-color: #ffb600;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

@keyframes start-fade {
	0% { opacity: 0; }
	25% { opacity: 0; }
    45% { opacity: 0 }
    50% { opacity: 1}
	100% { opacity: 1; }
}

@keyframes fade {
	0% { opacity: 1; }
	25% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
	100% { opacity: 0; }
}