@font-face{
    font-family: "Gara";
    src: url('../../assets/belleza-regular.ttf') format("truetype")
}

.container {
    font-family: "Gara";
    font-size: 36px;
    color: white;
    width: 1920px;
	height: 1080px;
    background-size: 1920px 1080px;
}

.team1 {
    float: left;
    padding-top: 5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 355px;
}

.stream-placeholder {
    float: left;
    width: 773px; /* (stream_width - margins)/2 = (1920 - 4*5px)/2 = 950px */
    height: 435px; /* racefeed_width * 9 / 16 = 950 * 9 / 16 = 534.375px */
    margin: 3px 0px 0px 3px;
    background: magenta;
}