@font-face{
    font-family: "Angie";
    src: url('../assets/AngieRegular.otf') format("opentype")
}

.btn {
    color: #FFFFFF;
    margin: 10px;
    width: 250px;
    height: 100px;
    font-family: "Angie";
    font-size: 24px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.btn-restream {
    background: url('../assets/btn1.png');
}

.btn-controls {
    background: url('../assets/btn2.png');
}