<div class="controls">
	<div class="container">
			<div class="col-8 center label-big r1 c1">GENERAL INFO</div>
			<div class="label r2 c1">
				<label for="trackerId">Broadcast ID</label><br>
				<label for="matchType">Match Type</label><br>
				<label for="commentators">Commentators</label><br>
				<label for="bestOf">Best of</label><br>
				<label for="tournament">Tournament</label><br>
			</div>
			<div class="col-2 r2 c2">
				<input type="text" id="trackerId" [(ngModel)]="seed" placeholder="Same as Skill Tracker"><br>
				<input type="text" id="matchType" [(ngModel)]="matchType"  placeholder="Group/Bracket Stage - Group Name">
				<input type="text" id="commentators" [(ngModel)]="commentators"  placeholder="ENTER COMMENTATORS">
				<select class="twitch" [(ngModel)]="bestOf">
					<option *ngFor="let match of matchTypes" [value]="match.value" >{{ match.name }}</option>
				</select><br>
				<select class="twitch" [(ngModel)]="tournament">
					<option *ngFor="let type of tournaments" [value]="type.value" >{{ type.name }}</option>
				</select><br>
			</div>
		<input type="button" class="btn col-1 update r2 c4" (click)="updateInfo()" value="UPDATE STREAM INFO" />

	</div>
    <div class="container main-controls" *ngIf="vm.tournament == 1 || vm.tournament == 2"  >
		<div class="backgrounds col-8 center r3 c1">
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'gladesms' }"
				(click)="setBackground('gladesms')" src="../../assets/background-gladesms.png" style="max-height:50px;">
				<br>
				<b>Glades (M1)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'iceless' }"
				(click)="setBackground('iceless')" src="../../assets/background-iceless.png" style="max-height:50px;">
				<br>
				<b>Iceless (M2)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'brbms' }"
				(click)="setBackground('brbms')" src="../../assets/background-brbms.png" style="max-height:50px;">
				<br>
				<b>Blackroot (M3)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'grottoms' }"
				(click)="setBackground('grottoms')" src="../../assets/background-grottoms.png" style="max-height:50px;">
				<br>
				<b>Grotto (M4)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'swampms' }"
				(click)="setBackground('swampms')" src="../../assets/background-swampms.png" style="max-height:50px;">
				<br>
				<b>Swamp (M5)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'forlornms' }"
				(click)="setBackground('forlornms')" src="../../assets/background-forlornms.png" style="max-height:50px;">
				<br>
				<b>Forlorn (M6)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'valleyms' }"
				(click)="setBackground('valleyms')" src="../../assets/background-valleyms.png" style="max-height:50px;">
				<br>
				<b>Valley (M7)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'sorrowms' }"
				(click)="setBackground('sorrowms')" src="../../assets/background-sorrowms.png" style="max-height:50px;">
				<br>
				<b>Sorrow (M8)</b>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'horums' }"
				(click)="setBackground('horums')" src="../../assets/background-horums.png" style="max-height:50px;">
				<br>
				<b>Horu (M9)</b>
			</div>
		</div>
		
			<hr class="spacer r7 c1" />

			<div class="col-4 center label-big players r8 c1">PLAYER 1 - Wins:
				<input class="p1Wins" type="number" [(ngModel)]="p1_wins" />
			</div>
			<label class="label r9 c1" for="p1Name">Name</label>
			<input id="p1Name" class="name r9 c2" [(ngModel)]="p1_name" />
			<label class="label r10 c1" for="p1Twitch">Twitch</label>
	
			<select class="twitch r10 c2" [(ngModel)]="p1_twitch" (ngModelChange)="setP1Name($event)">
				<option *ngFor="let option of vm.players" [value]="option.name" >{{ option.name }} ({{ option.preferredName }})</option>
			</select>
	
			<label class="label r11 c1" for="p1Seed">Seed</label>
			<input id="p1Seed" class="seed r11 c2" [(ngModel)]="p1_seed" placeholder="BRACKET STAGE ONLY"/>
			<input *ngIf="vm.tournament == 1" type="button" class="btn btn-warning r10 c3 col-1" value="WINNER" (click)="player1Winner()" />
			<input *ngIf="vm.tournament == 2" type="button" class="btn btn-warning r15 c3 col-1" value="SHOW / UPDATE AVERAGE" (click)="calcAverage()" />
	
			<div class="col-4 center label-big players r8 c5">PLAYER 2 - Wins:
				<input class="p2Wins" type="number" [(ngModel)]="p2_wins" />
			</div>
			<label class="label r9 c5" for="p2Name">Name</label>
			<input id="p2Name" class="name r9 c6" [(ngModel)]="p2_name" />
			<label class="label r10 c5" for="p2Twitch">Twitch</label>
	
			<select class="twitch r10 c6" [(ngModel)]="p2_twitch" (ngModelChange)="setP2Name($event)">
				<option *ngFor="let option of vm.players" [value]="option.name" >{{ option.name }} ({{ option.preferredName }})</option>
			</select>
	
			<label class="label r11 c5" for="p2Seed">Seed</label>
			<input id="p2Seed" class="seed r11 c6" [(ngModel)]="p2_seed" placeholder="BRACKET STAGE ONLY"/>
			<input *ngIf="vm.tournament == 1" type="button" class="btn btn-warning r10 c7 col-1" value="WINNER" (click)="player2Winner()" />
			<input *ngIf="vm.tournament == 2" type="button" class="btn btn-warning r15 c7 col-1" value="SHOW / UPDATE AVERAGE" (click)="calcAverage()" />
	
			<hr class="spacer r12 c1" />
	
			<div class="col-4 center label-big players r13 c1">TEAM 1 - Wins:
				<input class="p1Wins" type="number" [(ngModel)]="p1_wins" />
			</div>
			<label class="label r14 c1" for="t1Id">Name</label>
			<select class="twitch r14 c2" [(ngModel)]="t1Id">
				<option *ngFor="let option of vm.teams" [value]="option.id" >{{ option.name }}</option>
			</select>
	
			<div class="col-4 center label-big players r13 c5">TEAM 2 - Wins:
				<input class="p2Wins" type="number" [(ngModel)]="p2_wins" />
			</div>
			<label class="label r14 c5" for="t2Id">Name</label>
			<select class="twitch r14 c6" [(ngModel)]="t2Id">
				<option *ngFor="let option of vm.teams" [value]="option.id" >{{ option.name }}</option>
			</select>
	
			<label class="label r15 c1" for="t1P1">Player 1 Time</label>
			<input id="t1P1" class="seed r15 c2" [(ngModel)]="t1P1_Time" placeholder="0:00:00"/>
			<label class="label r16 c1" for="t1P2">Player 2 Time</label>
			<input id="t1P2" class="seed r16 c2" [(ngModel)]="t1P2_Time" placeholder="0:00:00"/>
	
			<label class="label r15 c5" for="t1P1">Player 1 Time</label>
			<input id="t1P1" class="seed r15 c6" [(ngModel)]="t2P1_Time" placeholder="0:00:00"/>
			<label class="label r16 c5" for="t1P2">Player 2 Time</label>
	<input id="t1P2" class="seed r16 c6" [(ngModel)]="t2P2_Time" placeholder="0:00:00"/>
	

		<!-- <input type="button" class="btn btn-warning r14 c3 col-1" value="WINNER" (click)="player1Winner()" /> -->
		<!-- <input type="button" class="btn btn-warning r14 c7 col-1" value="WINNER" (click)="player2Winner()" /> -->

	</div>

</div>
<div *ngIf="vm.tournament == 3" style="position: absolute; top: 220px; background-color: #181819; width: 1920px; height: 700px;">
	<span style="width: 300px; position: absolute; top: 0; left: 75px;">
		<div>
			<span><b>Singles</b></span>
		</div>
		<div *ngFor="let p of vm.players">
			<span *ngIf="p.singles && p.id < 30">
				<input style="text-shadow: none;" type="button" value="+" (click)="addRemovePlayer($event, p.id, p.name)" />
				<span>{{ p.name }}</span>
			</span>
		</div>
	</span>
	<span style="width: 300px; position: absolute; top: 0; left: 400px;">
		<div *ngFor="let p of vm.players">
			<span *ngIf="p.singles && p.id >= 30">
				<input style="text-shadow: none;" type="button" value="+" (click)="addRemovePlayer($event, p.id, p.name)" />
				<span>{{ p.name }}</span>
			</span>
		</div>
	</span>
	<span style="position: absolute; top: 0; left: 800px; width: 200px; background-color: #181819 ">	
		<div>
			<span><b>Doubles</b></span>
		</div>		
		<div *ngFor="let p of vm.teams">
			<span>
				<input style="text-shadow: none;" type="button" value="+" (click)="addRemoveTeam($event, p.id, p.name)" />
				<span>{{ p.name }}</span>
			</span>
		</div>
		<div style="margin-top: 75px">
			<span>Click the names as they appear on the reveal stream! No need to press update stream button</span>
		</div>
	</span>
	<span style="position: absolute; top: 0; left: 1100px; width: 400px; background-color: #181819 ">
		<input type="button" class="btn btn-warning r14 c7 col-1" value="RESET" (click)="resetSwiss()" />
	</span>
	<span style="position: absolute; top: 500px; left: 400px; width: 400px; background-color: #181819 ">
		<input type="button" class="btn btn-warning r14 c7 col-1" value="UNDO SINGLES" (click)="undoSwissSingles()" />
	</span>
	<span style="position: absolute; top: 200px; left: 1100px; width: 400px; background-color: #181819 ">
		<input type="button" class="btn btn-warning r14 c7 col-1" value="UNDO DOUBLES" (click)="undoSwissDoubles()" />
	</span>
</div>