<div class="controls">
	<div class="container">
			<div class="col-8 center label-big r1 c1">GENERAL INFO</div>
			<div class="label r2 c1">
				<label for="trackerId">Broadcast ID</label><br>
				<label for="matchType">Match Type</label><br>
				<label for="commentators">Commentators</label><br>
				<label for="bestOf">Best of</label><br>
				<label for="tournament">Tournament</label><br>
				<label for="bracket">Bracket Side</label><br>
			</div>
			<div class="col-2 r2 c2">
				<input type="text" id="trackerId" [(ngModel)]="seed"><br>
				<input type="text" id="matchType" [(ngModel)]="matchType"  placeholder="Swiss/Bracket Stage - Round Name">
				<input type="text" id="commentators" [(ngModel)]="commentators"  placeholder="ENTER COMMENTATORS">
				<select class="twitch" [(ngModel)]="bestOf">
					<option *ngFor="let match of matchTypes" [value]="match.value" >{{ match.name }}</option>
				</select><br>
				<select class="twitch" [(ngModel)]="tournament">
					<option *ngFor="let type of tournaments" [value]="type.value" >{{ type.name }}</option>
				</select><br>

				<select class="twitch" [(ngModel)]="bracket">
					<option *ngFor="let type of brackets" [value]="type.value" >{{ type.name }}</option>
				</select><br>
			</div>
		<input type="button" class="btn col-1 update r2 c4 clickable" (click)="updateInfo()" value="UPDATE STREAM INFO" />
		<input type="button" class="btn btn-warning r2 c5 col-1 clickable" value="RESET WINNERS / SCORE" (click)="resetWinner()" />
	</div>

    <div class="container main-controls">
		<div class="backgrounds col-8 center r3 c1">
			<div (click)="setBackground('gladesms')" class="clickable">
				<img src="../../assets/background-gladesms.png" style="max-height:50px;">
				<br>
				<b>Glades (M1)</b>
			</div>
			<div (click)="setBackground('iceless')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'iceless' }">
				<img src="../../assets/background-iceless.png" style="max-height:50px;">
				<br>
				<b>Iceless (M2)</b>
			</div>
			<div (click)="setBackground('brbms')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'brbms' }">
				<img src="../../assets/background-brbms.png" style="max-height:50px;">
				<br>
				<b>Blackroot (M3)</b>
			</div>
			<div (click)="setBackground('grottoms')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'grottoms' }">
				<img src="../../assets/background-grottoms.png" style="max-height:50px;">
				<br>
				<b>Grotto (M4)</b>
			</div>
			<div (click)="setBackground('swampms')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'swampms' }">
				<img src="../../assets/background-swampms.png" style="max-height:50px;">
				<br>
				<b>Swamp (M5)</b>
			</div>
			<div (click)="setBackground('forlornms')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'forlornms' }">
				<img src="../../assets/background-forlornms.png" style="max-height:50px;">
				<br>
				<b>Forlorn (M6)</b>
			</div>
			<div (click)="setBackground('valleyms')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'valleyms' }">
				<img src="../../assets/background-valleyms.png" style="max-height:50px;">
				<br>
				<b>Valley (M7)</b>
			</div>
			<div (click)="setBackground('sorrowms')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'sorrowms' }">
				<img src="../../assets/background-sorrowms.png" style="max-height:50px;">
				<br>
				<b>Sorrow (M8)</b>
			</div>
			<div (click)="setBackground('horums')" class="clickable" [ngClass]="{ 'active-background': vm.background == 'horums' }">
				<img src="../../assets/background-horums.png" style="max-height:50px;">
				<br>
				<b>Horu (M9)</b>
			</div>
		</div>
			<hr class="spacer r7 c1" />

			<div class="col-4 center label-big players r8 c1">
				PLAYER 1
			</div>
			<label class="label r10 c1" for="p1Twitch">Twitch</label>
	
			<select class="twitch r10 c2" [(ngModel)]="p1_twitch" (ngModelChange)="setP1Name($event)">
				<option *ngFor="let option of vm.players" [value]="option.id" >{{ option.name }} ({{ option.preferredName }})</option>
			</select>
	
			<input type="button" class="btn btn-warning r10 c3 col-1" value="WINNER" (click)="player1Winner()" />
			<label class="label r11 c4">This will display winner on splash screen</label>

			<div class="col-4 center label-big players r8 c5">
				PLAYER 2
			</div>

			<div *ngIf="vm.bestOf == 3" class="col-4 center label players r8 c3">
				<span><b>Match Winners</b></span>
				<div>
					(P1) () (P2)
				</div>
				<div *ngFor="let match of vm.currentSeries; let i = index">
					<span>
						{{ match.name }}
						<input type="radio" name="{{match.name}}" [(ngModel)]="match.winner" [value]="1" [checked]="match.winner === 1">
					</span>
					<input type="radio" name="{{match.name}}" [(ngModel)]="match.winner" [value]="0" [checked]="match.winner === 0">
					<input type="radio" name="{{match.name}}" [(ngModel)]="match.winner" [value]="2" [checked]="match.winner === 2">
				</div>
			</div>

			<label class="label r10 c5" for="p2Twitch">Twitch</label>
	
			<select class="twitch r10 c6" [(ngModel)]="p2_twitch" (ngModelChange)="setP2Name($event)">
				<option *ngFor="let option of vm.players" [value]="option.id" >{{ option.name }} ({{ option.preferredName }})</option>
			</select>
	
			<input type="button" class="btn btn-warning r10 c7 col-1" value="WINNER" (click)="player2Winner()" />
	</div>
</div>