.container {
    font-family: "Angie";
    font-size: 80px;
    color: white;
    width: 1920px;
    height: 1080px;
}

div {
    font-size: 40px;
}

.title {
    position: absolute;
    top: 50px;
    left: 350px;
    width: 200px;
    text-align: center;
    word-wrap: normal;
}

.container > table {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

table > thead > tr > td {
    font-size: 64px;
    padding-left: 100px;
    text-align: center;
}

.seeds > td {
    font-size: 32px;
    padding-left: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.stats > td {
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.method > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.misc > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.healthCells > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tricks > td {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}