.container {
	position: absolute; /* Fix for <body>'s unremovable margin by user agent */
	font-family: "Angie";
	font-size: 32px;
	line-height: 32px;
	color: white;
	width: 1920px;
	height: 1080px;
}

.ui {
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: bold;
	color: #fff36a;
}

header {
	display: flex;
	font-size: 56px;
	margin: 10px;
	align-items: center;
}

header > div,
header > img {
	display: inline-block;
}

.logo {
	height: 150px;
}

.title {
	margin-left: 25px;
}

.big-container {
	width: 1910px;
	height: 900px;
	margin: 5px;
	overflow: hidden;
}

.full-bracket {
	display: grid;
	grid:
		"left center right" 225px
		"left center right" 225px
		"left center right" 225px
		"left center right" 225px
		/ 33.33% 33.33% 33.33%;
	grid-auto-flow: row dense;
	/* background-color: red; */
	transition: transform 1.25s ease-in-out, transform-origin 1.25s ease-in-out;
}

.full-bracket.zoom {
	transform: scaleX(3.0) scaleY(4.0);
}

/* D1 */
.full-bracket.zoom.Reem {
	transform-origin: left top; /*636.67px 179.4px;*/
}
/* D2 */
.full-bracket.zoom.Ano {
	transform-origin: right bottom; /*636.67px 179.4px;*/
}
/* D3 */
.full-bracket.zoom.Ilo {
	transform-origin: right top; /*636.67px 179.4px;*/
}
/* D4 */
.full-bracket.zoom.Eki {
	transform-origin: left bottom; /*636.67px 179.4px;*/
}
/* D5 */
.full-bracket.zoom.Fil {
	transform-origin: left 66.6666%; /*636.67px 179.4px;*/
}
/* D6 */
.full-bracket.zoom.Tatsu {
	transform-origin: right 33.3333%; /*636.67px 179.4px;*/
}
/* D7 */
.full-bracket.zoom.Leru {
	transform-origin: right 66.6666%; /*636.67px 179.4px;*/
}
/* D8 */
.full-bracket.zoom.Nir {
	transform-origin: left 33.3333%; /*636.67px 179.4px;*/
}

.full-bracket > .division,
.full-bracket > .top8,
.full-bracket > .spacer {
	transform-origin: top left;
	transform: scaleX(0.333333333) scaleY(0.25);
}

.division {
	width: 1910px;
	height: 900px;
	/* background: linear-gradient(45deg, blue, yellow); */
}

/* D1 */
.division.Reem {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}
/* D2 */
.division.Ano {
	grid-row: 4 / 5;
	grid-column: 3 / 4;
}
/* D3 */
.division.Ilo {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}
/* D4 */
.division.Eki {
	grid-row: 4 / 5;
	grid-column: 1 / 2;
}
/* D5 */
.division.Fil {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
/* D6 */
.division.Tatsu {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}
/* D7 */
.division.Leru {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}
/* D8 */
.division.Nir {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.spacer {
	background: none !important;
}

.top8 {
	width: 1910px;
	height: 1800px;
	background-color: green;
	grid-row: 2 / 4;
	grid-column: center-start / center-end;
}

.division.right, .spacer.right {
	background: linear-gradient(45deg, blue, yellow);
	grid-column: right-start / right-end;
}

/* .full-bracket > div.expand {
	grid-row: 1 / span 5;
	grid-column: left-start / right-end;
	transform-origin: bottom right;
	transform: scale(1.0);
} */
