.container {
	position: absolute; /* Fix for <body>'s unremovable margin by user agent */
	font-family: "Angie";
	font-size: 32px;
	line-height: 32px;
	color: white;
	width: 1920px;
	height: 1080px;
}

.ui {
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: bold;
	color: #fff36a;
}

header {
	display: flex;
	font-size: 56px;
	margin: 10px;
	align-items: center;
}

header > div,
header > img {
	display: inline-block;
}

.logo {
	height: 150px;
}

.title {
	margin-left: 25px;
}

.big-container {
	width: 1910px;
	height: 900px;
	margin: 5px;
	overflow: hidden;
}

.full-bracket {
	display: grid;
	grid:
		"reem .   ilo" 225px
		"nir  sol tatsu" 225px
		"fil  sol leru" 225px
		"eki  .   ano" 225px
		/ 33.33% 33.33% 33.33%;
	grid-auto-flow: row dense;
	transition: transform 1.25s ease-in-out, transform-origin 1.25s ease-in-out;
}

.full-bracket.zoom {
	transform-origin: var(--origin);
	transform: scaleX(3.0) scaleY(4.0);
}

.full-bracket > .division,
.full-bracket > .top8,
.full-bracket > .spacer {
	transform-origin: top left;
	transform: scaleX(0.333333333) scaleY(0.25);
}

.division {
	width: 1910px;
	grid-area: var(--division);
}

.division.Sol {
	height: 1800px;
	background-color: green;
}
