<div class="container">
	<header>
		<img class="logo" src="../assets/logo.png">
		<div class="title" *ngIf="vm.tournament == 1">All Skills Tournament 2019 Standings - {{ currentDivision.name }}</div>
		<div class="title" *ngIf="vm.tournament == 2">All Cells Tournament 2019 Standings - {{ currentDivision.name }}</div>
	</header>
	<div class="big-container">
		<app-division
			*ngFor="let division of divisions"
			[name]="division"
			[shouldShowHeaders]="shouldShowHeaders"
			[ngClass]="{ 'hidden': division !== this.currentDivision.name }"
			[style]="divisionStyles(division)"
		>
		</app-division>
	</div>
</div>
