<div class="containter" [ngStyle]="{'background': 'url(../../assets/background-' + vm.background + '.png) no-repeat'}">
    <div class="row col-12">

       <div class="col-3 name-cycle p1">
           <div class="name-twitch">
               <img src="../../assets/twitch-icon.png" />
               {{ vm.player1_twitch }}
           </div>
           <div class="name-signup">
               {{ vm.player1 }}
           </div>
           </div>
           <div class="col-2 center timer">
            <span *ngIf="!vm.player1_timerVisible">{{ ticks1 }}</span>
         </div>
       <div class="col-2"></div>
       <div class="col-2 center timer">
        <span *ngIf="!vm.player2_timerVisible">{{ ticks2 }}</span>
   </div>
       <div class="col-3 name-cycle p2">
           <div class="name-twitch">
               <img src="../../assets/twitch-icon.png" />
               {{ vm.player2_twitch }}
           </div>
           <div class="name-signup">
               {{ vm.player2 }}
           </div>
       </div>

   </div>
    <div class="stream1"></div>
    <div class="stream2"></div>

    <div class="row col-12 center tracker">
        <div class="col-4 tracker-item-p1">
            <img src="../../assets/allskills.png">

            <img *ngIf="vm.tracker.t1-skill-sein" src="../../assets/allskills/spiritflame.png">
            <img *ngIf="vm.tracker.t1-skill-walljump"src="../../assets/allskills/walljump.png">
            <img *ngIf="vm.tracker.t1-skill-cflame" src="../../assets/trallskillsacker/chargeflame.png">
            <img *ngIf="dJumpSkill" src="../../assets/allskills/doublejump.png">
            <img *ngIf="vm.tracker.t1-skill-bash" src="../../assets/allskills/bash.png">
            <img *ngIf="vm.tracker.t1-skill-stomp" src="../../assets/allskills/stomp.png">
            <img *ngIf="vm.tracker.t1-skill-glide" src="../../assets/allskills/glide.png">
            <img *ngIf="vm.tracker.t1-skill-climb" src="../../assets/allskills/climb.png">
            <img *ngIf="vm.tracker.t1-skill-cjump" src="../../assets/allskills/chargeJump.png">
            <img *ngIf="vm.tracker.t1-skill-grenade" src="../../assets/allskills/lightGrenade.png">
            <img *ngIf="vm.tracker.t1-skill-dash" src="../../assets/allskills/dash.png">
        </div>
        <div class="col-4">
            <div class="info">
                <div>{{ vm.matchType }}</div>
                <div><img src="../../assets/commentary.png" /> {{ vm.commentators }}</div>
            </div>
        </div>
        <div class="col-4 tracker-item-p2">
                <img src="../../assets/allskills.png">

                <img *ngIf="vm.tracker.t2-skill-sein" src="../../assets/allskills/spiritflame.png">
                <img *ngIf="vm.tracker.t2-skill-walljump"src="../../assets/allskills/walljump.png">
                <img *ngIf="vm.tracker.t2-skill-cflame" src="../../assets/allskills/chargeflame.png">
                <img *ngIf="vm.tracker.t2-skill-djump" src="../../assets/allskills/doublejump.png">
                <img *ngIf="vm.tracker.t2-skill-bash" src="../../assets/allskills/bash.png">
                <img *ngIf="vm.tracker.t2-skill-stomp" src="../../assets/allskills/stomp.png">
                <img *ngIf="vm.tracker.t2-skill-glide" src="../../assets/allskills/glide.png">
                <img *ngIf="vm.tracker.t2-skill-climb" src="../../assets/allskills/climb.png">
                <img *ngIf="vm.tracker.t2-skill-cjump" src="../../assets/allskills/chargeJump.png">
                <img *ngIf="vm.tracker.t2-skill-grenade" src="../../assets/allskills/lightGrenade.png">
                <img *ngIf="vm.tracker.t2-skill-dash" src="../../assets/allskills/dash.png">
            </div>
    </div>
    <img src="../../assets/background-gumo.png" style="visibility:hidden">
 </div>

