<div class="container" [ngStyle]="{'background-image': 'url(../../assets/background-' + vm.background + '.png)'}">
    <div class="topbar">
    	<div class="name-cycle p1">
        	<div class="name-twitch text">
            	<img src="../../assets/twitch-icon.png" />
            	{{ vm.player1_twitch }}
        	</div>
        	<div class="name-signup text">
            	{{ vm.player1 }}
        	</div>
    	</div>
    	<div class="timer">
            <span *ngIf="!vm.player1_timerVisible" class="text">{{ ticks }}</span>
    	</div>
    	<!-- <div class="center timer">
        	<span *ngIf="!vm.player2_timerVisible">{{ ticks2 }}</span>
		</div> -->
	    <div class="name-cycle p2">
	        <div class="name-twitch text">
	            <img src="../../assets/twitch-icon.png" />
	            {{ vm.player2_twitch }}
	        </div>
	        <div class="name-signup text">
	            {{ vm.player2 }}
	        </div>
	    </div>
	</div>

    <div class="stream-placeholder">
        <div hidden class="leftRunner">
            {{ vm.player1_finishTime }}
        </div>
    </div>
    <div class="stream-placeholder">
        <div hidden class="rightRunner">
            {{ vm.player2_finishTime }}
        </div>
    </div>

    <div class="matchinfo">
        <div class="tracker p1">
			<!-- TODO: Remove the img tag below once bg image has it baked in -->
            <img src="../../assets/skillring.png">

            <img *ngIf="p1SpritFlameSkill" src="../../assets/skills/spiritflame.png">
            <img *ngIf="p1WallJumpSkill"src="../../assets/skills/walljump.png">
            <img *ngIf="p1CFlameSkill" src="../../assets/skills/chargeflame.png">
            <img *ngIf="p1DJumpSkill" src="../../assets/skills/doublejump.png">
            <img *ngIf="p1DBashSkill" src="../../assets/skills/bash.png">
            <img *ngIf="p1StompSkill" src="../../assets/skills/stomp.png">
            <img *ngIf="p1GlideSkill" src="../../assets/skills/glide.png">
            <img *ngIf="p1ClimbSkill" src="../../assets/skills/climb.png">
            <img *ngIf="p1CJumpSkill" src="../../assets/skills/chargejump.png">
            <img *ngIf="p1GrenadeSkill" src="../../assets/skills/lightgrenade.png">
            <img *ngIf="p1DashSkill" src="../../assets/skills/dash.png">
        </div>
        <div class="info">
            <div>{{ vm.matchType }}</div>
            <img src="../../assets/commentary.png" />
			<div>{{ vm.commentators }}</div>
        </div>
        <div class="tracker p2">
			<!-- TODO: Remove the img tag below once bg image has it baked in -->
                <img src="../../assets/skillring.png">

                <img *ngIf="p2SpritFlameSkill" src="../../assets/skills/spiritflame.png">
                <img *ngIf="p2WallJumpSkill"src="../../assets/skills/walljump.png">
                <img *ngIf="p2CFlameSkill" src="../../assets/skills/chargeflame.png">
                <img *ngIf="p2DJumpSkill" src="../../assets/skills/doublejump.png">
                <img *ngIf="p2DBashSkill" src="../../assets/skills/bash.png">
                <img *ngIf="p2StompSkill" src="../../assets/skills/stomp.png">
                <img *ngIf="p2GlideSkill" src="../../assets/skills/glide.png">
                <img *ngIf="p2ClimbSkill" src="../../assets/skills/climb.png">
                <img *ngIf="p2CJumpSkill" src="../../assets/skills/chargejump.png">
                <img *ngIf="p2GrenadeSkill" src="../../assets/skills/lightgrenade.png">
                <img *ngIf="p2DashSkill" src="../../assets/skills/dash.png">
            </div>
    </div>
 </div>
