@font-face{
    font-family: "Angie";
    src: url('../../assets/AngieRegular.otf') format("opentype")
}

.containter {
    font-family: "Angie";
    font-size: 24px;
    color: white;
    background-color: blue;
    width: 1280px;
}

.center{
    text-align: center;
}

.main-content {
    background-repeat: no-repeat;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.p2{
    display: block;
}

.p2 > div {
    display: inline-block; text-align: right; width: 100%; padding-right: 35px;
}

.stream1 {
    float: left;
    height: 356px;
    width: 631px;
    background: #FF00FF;
    margin: 5px;
}

.stream2 {
    position: absolute;
    top: 0;
    right:0;
    height: 356px;
    width: 631px;
    background: #FF00FF;
    margin: 5px;
}

.audio {
    margin-top:15px;
}

.timer {
    margin-top:10px;
    font-size: 36px;
    height: 42px;
}

.tracker {
    position: relative;
}

.tracker-item-p1 > img {
    position: absolute;
    margin-top:20px;
    margin-left: 20px;
    left:0;
    max-height: 260px;
}
.tracker-item-p2 > img {
    position: absolute;
    margin-top:20px;
    margin-right: 20px;
    right:0;
    max-height: 260px;
}
.info {
    margin-top: 205px;
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.mapstone-p1 {
    position: absolute;
    margin-top:20px;
    top:175px;
    left:130px;
    font-size: 18px;
}

.mapstone-p2 {
    position: absolute;
    margin-top:20px;
    top:175px;
    left:265px;
    font-size: 18px;
}

.name-cycle {
    position: relative;
    margin-top:22px;
}

.name-twitch, .name-signup {
    position: absolute;
}

.name-signup {
	animation-name: fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
	animation-duration: 30s;
    animation-direction: alternate;
}

.name-twitch {
    animation-name: start-fade;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-direction: alternate;
}

.name-twitch > img {
    margin-right: 10px;
    width: 22px;
    height: 24px;
}

@keyframes start-fade {
	0% { opacity: 0; }
	25% { opacity: 0; }
    45% { opacity: 0 }
    50% { opacity: 1}
	100% { opacity: 1; }
}

@keyframes fade {
	0% { opacity: 1; }
	25% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
	100% { opacity: 0; }
}