.matchup {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    height: 300px;
    font-size: 80px;
}
.matchup > div {
    text-align: center;
}

.logo {
    position: absolute;
    bottom: -75px;
    left: 50px;
}

.title {
    position: absolute;
    bottom: 100px;
    left: 500px;
    font-size: 80px;
}
