.container {
    font-family: "Angie";
    color: white;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0,0,0,0.5);
}

.groupTitle {
    position: absolute;
    top: 75px;
    left: 100px;
    align-content: center;
    font-size: 80px;
}

.table {
    margin: 0 auto;
}

.table td, .table th {
	min-width: 200px;
}

.table > thead > th {
    padding-left: 50px;
    padding-right: 50px;
	text-align: center;
	font-family: "Segoe UI";
	font-size: 52px;
	color: #fff36a;
}

.table > tbody > tr > td {
	padding: 15px 50px;
    text-align: left;
	vertical-align: middle;
    font-size: 62px;
	text-align: center;
}

.table > tbody > tr {
    background-color: rgba(255,255,255,0.1);
}

.footer {
    font-size: 40px;
    position: absolute;
    bottom: 50px;
    left: 75px;
}
