@font-face{
    font-family: "Gara";
    src: url('../../assets/belleza-regular.ttf') format("truetype")
}

.container {
    font-family: "Gara";
    font-size: 24px;
    color: white;
    width: 1920px;
	height: 1080px;
    background-size: 1920px 1080px;
    background-color: rgba(0,0,0,0.15)
}

.groupTitle {
    position: absolute;
    top: 75px;
    left: 100px;
    align-content: center;
    font-size: 80px;
}

table {
    margin: 0 auto;
    width: 1500px;
}

table td, .table th {
	min-width: 200px;
}

table > thead > tr > th {
    padding-left: 10px;
    padding-right: 10px;
	text-align: center;
	font-family: "Segoe UI";
	font-size: 24px;
	color: #fff36a;
}

table > tbody > tr > td {
	padding: 5px 5px;
    text-align: left;
	vertical-align: middle;
    font-size: 24px;
	text-align: center;
}

table > tbody > tr {
    background-color: rgba(255,255,255,0.1);
}

.footer {
    font-size: 40px;
    position: absolute;
    bottom: 50px;
    left: 75px;
}
