/* You can add global styles to this file, and also import other style files */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #f9f9f9;
	font-family: Segoe UI;
}

* {
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}